<h2>Latest drawings</h2>

<div class="drawings">
  <%= for {drawing, no} <- Enum.with_index(@drawings) do %>
    <div id="drawing-<%= drawing.id %>">
      <a href="/drawings/<%= drawing.id %>">Drawing #<%= no + 1 %></a>
      <pre><%= drawing.drawing %></pre>
    </div>
  <% end %>
</div>
